* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.home {
  width: 100vw;
  height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  width: min(100vw, 100vh);
  height: min(100vw, 100vh);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.tileOdd {
  width: calc(min(100vw, 100vh) / 8);
  height: calc(min(100vw, 100vh) / 8);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.tileEven {
  width: calc(min(100vw, 100vh) / 8);
  height: calc(min(100vw, 100vh) / 8);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.row {
  width: 100%;
  height: calc(min(100vw, 100vh) / 8);
  background-color: black;
  display: flex;
}
